/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-fonts: "PressStart2P";
  --accent-fonts: "Inter";
  --weight-fonts-title-card: 715;
  --weight--fonts-text-card: 410;
  --backgrounnd-gradient:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --width-block: clamp(375px, 100%, 700px);
  --color-shadow-label: #fff;
  --accent-color: #000;
  --color-text: #fff;
  --counter-color-heart: black;
  --animation-fill-color: #ff0000;
  --sparks-color: #ff0000;
}
